html{
  margin-left: 10%;
  margin-right: 10%;
}
body{
  background-image: url('http://localhost/PROGETTO/immagini/sfondo.png');
  font-family: Arial;
  font-size: 100%;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 116px;

}
header img{
  display: block;
  text-align: center;

}
h1{
  color: #8b4513;
  font-size: 110%;
}
nav,footer{
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background-color: #ff7500;
  border-color: black;

}
section{
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
p#footerPar{
  text-align: center;
  font-size: 80%;
  color:white;
  padding:5px 3px;

}

 ul a{

  display: inline-block;
  text-align: center;
  width: 10%;

  padding: 10px 30px;
  padding-right: 150px;
}
ul li{
  list-style: square;

}


a{

  color:white;
  text-decoration: none;
}
a:hover{
  color: blue;
  text-decoration: underline;
}
div{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}
table,.admin,#pronto{
  margin-left: 20px;
}
div>a{
  color:blue;
}
#tabellaProdotti{

  margin-left: 0px;
}

#mail,#logout,#ordini,#modifica{
  padding-top: 30px;
  padding-right: 5px;
  color:blue;
}
#mail{
  color:blue;
}
#ordina,#carrello,#logout{
  padding-left: 30px;
}
#user{
  margin-top:30px;
  padding-left: 30px;
}

@media screen and (orientation: portrait){

    body,html{
      width:90%;
      font-size: 80%;
      margin: auto;
      margin-top: 10px;


    }
    body{
      border: solid grey;
      border-radius: 7px;
    }
    footer{
      height: 100%;

    }
    fieldset{
      width: 80%;
    }
    #riepilogo,#dettagli{
      width: 90%;
      font-size: 80%;
      table-layout:fixed;
      margin-left: 10px;
    }
    .admin,#pronto{
      margin-left: 10px;
    }
    table td,th{

    word-wrap: break-word;

    }
    div{
      font-size: 70%;
    }
    #user,#logout{

      padding-left: 5px;
    }
    #info{
      padding-left: 0px;
    }
    #userLogo{
      max-width: 20px;
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 12px;

    }
    #modifica{
      padding-right: 0px;
      width: 50%;
    }
    #logo{
      max-width: 90%;
      margin-top: 1px;
      height: auto;
    }


}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #logo{
    max-width: 90%;
    margin-top: 1px;
    height: auto;
  }
}

@media print{
  nav,footer{
    background-color: white;
  }
  ul a{
    display: inline;
    color: blue;
    text-decoration: underline;
    border-right: 0px none;
    font-size: 120%;
  }
}
