html{
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}
body{
  background-image: url('http://localhost/PROGETTO/immagini/carrello1.png');
  font-family: Arial;
  font-size: 100%;
  width: 90%;
  background-repeat: no-repeat;
  background-size: 150%;
background-position: center;
}
section{
  background-color: white;
  opacity: 0.9;
  border-radius: 7px;
}

nav,footer{
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background-color: #ff7500;
  border-color: black;

}
form,fieldset{
  width:88%;
}
p#footerPar{
  text-align: center;
  font-size: 80%;
  color:white;
  padding:5px 3px;

}
#uno,#due,table,#prezzoFinale{
  margin-left: 20px;
}
 ul a{

  display: inline-block;
  text-align: center;
  width: 10%;

  padding: 10px 30px;
  padding-right: 150px;
}
a{

  color:white;
  text-decoration: none;
}
div{
  width: 80%;
  display: flex;
  justify-content: flex-end;

}

div a{
  color:blue;
}
div{
  padding-bottom: 20px;
}
#logout{
  padding-top: 30px;
  color:blue;
}
#user,#ordina{
  margin-top:30px;
  padding-right: 30px;
}
form{

  margin-right:  20px;
  padding-right: 50px;
}
aside{
  margin-right: 200px;
}
#prezzoFinale{
  padding-right: 153px;
}
#second{
  display:flex;
}
#invia{
  margin-left: 250px;
}

@media screen and (orientation: portrait){
  body{
    font-size: 80%;

    border: solid grey;
    border-radius: 6px;
    width: 100%;
    margin-left: 5%;
  background-size: 450%;

  }
  section{
    opacity: 0.9;
  }
  #prezzoFinale{
    padding-right: 0px;
    padding-left: 5px;
  }
  #mainSection{
    width: 100%;
  }
  div{
    font-size: 70%;
    width: 90%;
    margin-left: 10px;

  }
  footer{
    width: 100%;
    padding-left: 0px;
  }
  form{
    width: 200%;
    padding-left: 10px;
    margin-left: 10px;

  }


  #prezzoFinale{
    display: block;
    width: 90%;
      margin-left: 10px;
  }

  html{
    margin-left:  0px;
    margin-right: 0px;
  }
  table{
    font-size: 75%;
    max-width: 50%;
      margin-left: 10px;
  }
    #second{
      display: inline-block;
      width: 100%;

    }
    img{
      max-width: 100%;

      height: auto;
    }
    #invia{
      margin-top: 10px;
      margin-left: 10px;
    }
    #ric,#domicilio{
      font-size: 90%;
      width: 70%;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px){
  form{
    margin-left: 1%;
    margin-right:  5px;
      margin-bottom: 3%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    height: 120%;


  }
  label{
    margin-bottom:  30px;
  }
  body{
    background-size: 450%;
  }
  input{
    margin auto;
    margin-left: 2px;

  }

  aside{
  margin-right: 0px;
    width: 100%;
    padding-left: 5px;
    padding-top: 2px;
  }
  #ora,#dataConsegna{
    margin-top: 5px;
    margin-left: 12px;
  }



}
@media print{
  nav,footer{
    background-color: white;
  }
  ul a{
    display: inline;
    color: blue;
    text-decoration: underline;
    border-right: 0px none;
    font-size: 120%;
  }
}
