html{
  width: 90%;

}
body{

  font-family: Arial;
  font-size: 100%;

  width: 80%;
  margin-left: 15%;
  border: solid lightgrey;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}
section{
  background-color: white;
  opacity: 0.8;
}
nav,footer{
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background-color: #ff7500;
  border-color: black;

}
footer{
height: 20%;
padding-top: 1px;
}
form,fieldset{
  width:88%;
  padding-left: 30px;
}
p#footerPar{
  text-align: center;
  font-size: 80%;
  color:white;


}

 ul a{

  display: inline-block;
  text-align: center;
  width: 10%;

  padding: 10px 30px;
  padding-right: 150px;
}
a{

  color:white;
  text-decoration: none;
}
div{
  width: 80%;
  display: flex;
  justify-content: flex-end;

}

div>a{
  color:blue;
}
#logout,#homeP{
  padding-top: 30px;

  color:blue;
}

#user{
  margin-top:30px;
  padding-right: 30px;
  padding-left: 40px;
}

@media screen and (orientation: portrait){
    ul a{
      text-align: left;
        width: 30%;
      display: block;
      border-right: 0px none;
      padding-bottom: 2px;
      margin: 1%;
      padding: 1%;
    }

    body{
      font-size: 80%;
      background-size: 300%;
    }
    #prodotto{
      max-width: 90%;
    }
    #user{
      margin-top:30px;
      padding-right: 20px;
      padding-left: 30px;
    }
    div{
      font-size: 80%;
    }
    form,fieldset{

      padding-left: 5px;

    }
    img{
      max-width: 100%;

      height: auto;
    }


}
@media screen and (min-width: 768px) and (max-width: 1024px){
  ul a{
    display: inline-block;
    text-align: center;
    width: 20%;

    padding: 10px 30px;

  }


}
@media print{
  nav,footer{
    background-color: white;
  }
  ul a{
    display: inline;
    color: blue;
    text-decoration: underline;
    border-right: 0px none;
    font-size: 120%;
  }
}
