html{

  margin-left: 10%;
  margin-right: 10%;
}
body{
  background-image: url('http://localhost/PROGETTO/immagini/sfondo1.png');
  width: 100%;
  font-family: Arial;
  font-size: 100%;
  border: solid lightgray;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
}
header img{
  display: block;
  text-align: center;
  padding-left: 60px;

}
h1{
  color: #8b4513;
  font-size: 110%;
  <!--text-shadow: 5px 5px 1px;-->
}
nav,footer{
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background-color: #ff7500;
  border-color: black;


}
section{
  width: 100%;
  background-color: white;
  border-radius: 5px;
  height: 100%;
}
p#footerPar{
  text-align: center;
  font-size: 80%;
  color:white;
  padding:6px 5px;
 margin-bottom: 6px;
}
#storia,#listaC,#listaP{
  width: 90%;
  margin-left: 10px;
}

 ul a{

  display: inline-block;
  text-align: center;
  width: 10%;

  padding: 10px 30px;
  padding-right: 150px;
}
ul li{
  list-style: square;

}


a{

  color:white;
  text-decoration: none;
}
div{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}
#loggedDiv{
  visibility: hidden;
}
div>a{
  color:blue;
}
#login,#mail,#ordina,#carrello,#logout{
  padding-top: 30px;
  padding-right: 20px;
  color:blue;
}
#mail{
  color:blue;
}
#ordina,#carrello,#logout{
  padding-left: 30px;
}
#user{
  margin-top:30px;
  padding-left: 30px;
}

@media screen and (orientation: portrait){
    ul a{
      width: 30%;
      display: block;
      border-right: 0px none;
      border-bottom: dotted white;
      padding-bottom: 2px;
      margin: 1%;
      padding: 1%;
    }

    body{
      width:100%;
      background-repeat: repeat-y;
      font-size: 90%;
    }
    table{
      width: 50%;
    }
    img{
      max-width: 100%;

      height: auto;
    }
    header img{
      display: block;
      text-align: center;
      padding-left: 0px;

    }
    #loggedDiv{
      font-size: 60%;
    }
    #ordina,#carrello,#logout{
      padding-left: 0px;
    }
    #user{
      margin-top:30px;
      padding-left: 0px;
      padding-right: 10px;
    }


}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #logo{
    max-width: 90%;
    margin-top: 1px;
    height: auto;
  }
  ul a{
    display: inline-block;
    width: 20%;
    margin: 0%;
    padding-right: 30px;
  }
  footer{
    padding:1px 0px;;
  }

}
@media print{
  nav,footer{
    background-color: white;
  }
  ul a{
    display: inline;
    color: blue;
    text-decoration: underline;
    border-right: 0px none;
    font-size: 120%;
  }
}
