html{
width: 80%;
}
body{
  background-image: url('http://localhost/PROGETTO/immagini/sfondo.png');
  font-family: Arial;
  font-size: 100%;
  width:80%;
  margin-left: 22%;
  border: solid white;
  border-radius: 6px;


}
#backgroundSection{
  background-color: lightgrey;
  opacity: 0.9;
}
section{
  display:flex;
  flex-wrap: wrap;
}
form{
  order:1;
  flex:0.5;
  padding-left: 50px;

  width:30%;
  padding-bottom: 20px;
}
aside{
  order: 2;
  flex:1;
  padding-left: 50px;


}
#home{
  padding-right: 10px;
  padding-bottom: 15px;
  margin-right: 20px;
}
header img{
  display: block;
  text-align: center;

}
h1{
  color: #8b4513;
  font-size: 110%;
  margin-left: 20%;
}

footer{
  width:100%;
  text-align: left;
  border-radius:5px;
  background-color:#ff7500;
  border-color:black;

}
a{
  color: white;
  text-decoration: none;
}
p#footerPar{
  text-align: center;
  font-size: 80%;
  color:white;
  padding:5px 3px;
}
#mail{
  color:blue;
}
#home{
  color:blue;
  float:right;
}

a:hover{
  color:blue;
  text-decoration: underline;
}


@media screen and (orientation: portrait){

    img{
      max-width: 100%;

      height: auto;
    }
    h1{
      font-size: 80%;
    }
    form{

    }
    input{
      width: 150%;
      margin:auto;
    }
    body{
      font-size: 80%;
      width: inherit;
      display: inline-block;
      margin-left: 22%;;
      background-repeat: repeat-y;
    }
    #home{
      padding-bottom: 15px;
      padding-right: 10px;
      font-size: 70%;
    }
    dl,p{
      font-size: 90%;
      padding-left: 5px;
    }
    p#footerPar{

      font-size: 80%;
      color:white;
      padding:0px;
    }
    aside{
      padding-left: 0px
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #logo{
    max-width: 90%;
    margin-top: 1px;
    height: auto;
  }



}
@media print{
  nav,footer{
    background-color: white;
  }
  ul a{
    display: inline;
    color: blue;
    text-decoration: underline;
    border-right: 0px none;
    font-size: 120%;
  }
}
