html{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;


}

body{
background-image: url('http://localhost/PROGETTO/immagini/sfondoLogin1.png');
  font-family: Arial;
  font-size: 100%;
  width: 80%;
  border-radius: 5px;
  margin-left: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
}
section{
  background-color: white;
  opacity: 0.8;
  border-radius: 6px;
}
header img{
  display: block;
  margin: auto;

}

footer{
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background-color: #ff7500;
  border-color: black;
  margin:auto;

}

p#footerPar{
  text-align: center;
  font-size: 80%;
  color:white;
  padding:5px 3px;

}
footer a{
  color: white;

}
#register,#ritorna{
  color:blue;
}
#ritorna{
  float:right;
  padding-top: 5px;
  margin-right: 10px;
}
a:hover{
  color:blue;
}
form{
  margin-left: 350px;
}
#registerP{
  margin-left: 300px;
}


@media screen and (orientation: portrait){

    form{
      padding-top: 10px;
      padding-left: 10px;
      margin-left: 0px;
      font-size: 100%;
    }
    #registerP{
      margin-left: 0px;
      padding-top: 10px;
      padding-left: 10px;
      font-size: 80%;
    }
    body{
      background-repeat: repeat-y;
      width: 100%;
      margin: auto;

    }
    img{
      max-width: 100%;
      margin-right: 100px;
      height: auto;
    }
    #ritorna{
      padding-bottom: 10px;
      font-size: 70%;
    }
    body,html{
      min-height: 100%;
    }


}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #logo{
    max-width: 90%;
    margin-top: 1px;
    height: auto;
  }
  form{
    padding-top: 5px;
    padding-left: 10px;
    margin:auto;
    margin-left: 30%;
    font-size: 100%;
  }
  #registerP{
    margin:auto;
    margin-left: 20%;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 80%;
  }


}
@media print{
  footer{
    background-color: white;
  }
  ul a{
    display: inline;
    color: blue;
    text-decoration: underline;
    border-right: 0px none;
    font-size: 120%;
  }
}
